# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
dist/

# Large Datasets
data/raw/fake_job_postings.csv
data/spark_checkpoints/
data/*.db
data/*.db-wal
data/*.db-shm

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.log
